@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100%;
}

#container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

#hamburger__menu,
#logo,
#cart,
#avatar__container {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

#cart {
  opacity: 0.5;
}

#nav__bar {
  position: relative;
  padding: 30px 10px 35px 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* outline: 2px solid black; */
}

#logo {
  margin-right: auto;
}

#navigation__options {
  display: none;
}

#cart__container {
  position: relative;
}

#cart__amount {
  background: hsl(26, 100%, 55%);
  color: white;
  position: absolute;
  right: 0%;
  top: 0;
  width: 20px;
  height: 15px;
  border-radius: 7.5px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}

#avatar__container {
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#avatar {
  height: inherit;
  border-radius: 50px;
}

#avatar:hover {
  box-shadow: 0px 0px 10px hsl(26, 100%, 55%);
}

#menu {
  display: none;
}

#cart__modal {
  z-index: 200;
  position: absolute;
  transform: translate(50%, 0%);
  /* outline: 2px solid purple; */
  top: 10%;
  right: 50%;
  max-width: 375px;
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

#title__modal {
  margin: 20px;
  font-size: 16px;
}

hr {
  opacity: 0.5;
}

#shopping__area {
  margin: 10px;
}

#cart__content__empty {
  margin: 10px 0;
  width: 100%;
  height: 150px;
}

#cart__content__empty__info {
  text-align: center;
  line-height: 150px;
  height: 150px;
  color: hsl(219, 9%, 45%);
}

#cart__content {
  margin: 10px 0;
  color: hsl(219, 9%, 45%);
  padding: 5px 10px 0px 10px;
  width: fit-content;
  height: 150px;
  display: grid;
  grid-template-columns: 15% 5% 70% 5% 5%;
  grid-template-rows: 18% 22% 14% 35%;
  grid-template-areas:
    "thumbnail__photo . content__name . delete__content"
    "thumbnail__photo . content__price . delete__content"
    ". . . . ."
    "content__checkout content__checkout content__checkout content__checkout content__checkout";
}

#thumbnail__photo {
  border-radius: 5px;
  grid-area: thumbnail__photo;
  width: 100%;
}
#content__name {
  grid-area: content__name;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}
#content__price {
  grid-area: content__price;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
}
#delete__content {
  grid-area: delete__content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content__checkout {
  cursor: pointer;
  height: inherit;
  grid-area: content__checkout;
  position: relative;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

#slider__container {
  position: relative;
  width: 100%;
}

#thumbnails__container {
  display: none;
}

#slider {
  transition: 0.3s;
  position: relative;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
}

.change__photo__wrapper {
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change__photo__wrapper.left {
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  left: 5%;
  background: white;
}

.change__photo__wrapper.right {
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  right: 5%;
  background: white;
}

.change__photo {
  background: white;
  width: 15px;
  height: 15px;
}

#slider .product__photo {
  width: inherit;
}

#info {
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

#sneaker__company {
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-bottom: 10px;
}

#sneaker__title {
  width: 80%;
  font-size: 24px;
  font-weight: 700;
}

#sneaker__description {
  margin: 10px 0;
  color: grey;
  font-size: 14px;
}

#pricing {
  display: flex;
  align-items: center;
}

#discount__percent {
  padding: 5px;
  font-size: 14px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
  margin-left: 20px;
  margin-right: auto;
}

#previous__price {
  color: lightgrey;
  text-decoration: line-through;
}

#amount__to__cart {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

#amount__section {
  width: clamp(90%, 375px, 90%);
  margin: 10px auto;
  display: flex;
  height: 60px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

#add__to__cart {
  cursor: pointer;
  max-width: 375px;
  margin: 10px auto;
  position: relative;
  border-radius: 10px;
  padding: 15px 0;
  color: white;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
#add__to__cart:hover {
  box-shadow: 0px 28px 28px -20px rgba(255, 121, 26, 1);
}

#add__to__cart::before {
  transform: translate(-50%, -50%);
  margin: 0px 20px;
  content: url("./images/icon-cart-button.svg");
  color: white;
  width: 10px;
  height: 10px;
}

#side__drawer__background {
  z-index: 1000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 50%;
  top: 0;
  position: absolute;
  transform: translate(-50%, 0%);
  display: none;
}

#side__drawer {
  padding: 20px;
  transition: 0.5s;
  transform: translate(0%, 0%);
  height: 100%;
  width: 60%;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: -70%;
  background: white;
}

#drawer__options {
  cursor: pointer;
  list-style: none;
  margin-top: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

@media (min-width: 400px) {
  #cart__modal {
    z-index: 200;
    position: absolute;
    transform: translate(50%, 0%);
    /* outline: 2px solid purple; */
    top: 70px;
    right: 200px;
    left: auto;
  }
}

@media (min-width: 1000px) {
  * {
    /* outline: 2px solid black; */
  }
  #container {
    margin: auto;
    max-width: 1440px;
    padding: 0rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
      "nav__bar nav__bar"
      "slider__container info";
  }

  #slider__container {
    margin: 5rem;
    width: 80%;
  }

  #slider__container img {
    border-radius: 10px;
  }

  #thumbnails__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #thumbnails__container img {
    width: 20%;
    margin: 20px 0;
    cursor: pointer;
  }

  .thumbnail__active {
    opacity: 0.4;
    outline: 2px solid hsl(26, 100%, 55%);
  }

  #thumbnails__container img:hover {
    opacity: 0.4;
  }

  #nav__bar {
    grid-area: nav__bar;
    padding: 0;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #hamburger__menu {
    display: none;
  }

  #logo {
    margin-right: 3em;
  }

  #navigation__options {
    /* outline: 2px solid black; */
    display: flex;
    margin-right: auto;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    height: inherit;
  }

  .navigation__single__option:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }
  .navigation__single__option {
    height: 100%;
    line-height: 80px;
  }

  #slider__container {
    grid-area: slider__container;
    overflow: hidden;
  }

  .change__photo__wrapper {
    display: none;
  }

  #info {
    grid-area: info;
    margin: auto auto;
    padding: 3rem 1rem 3rem 3rem;
    /* outline: 2px solid black; */
    min-height: 70%;
    height: fit-content;
  }

  /* info media */
  #sneaker__company {
    font-size: 14px;
  }

  #sneaker__title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
  }

  #sneaker__description {
    margin: 2rem 0;
    color: rgb(117, 110, 110);
    font-size: 16px;
  }

  #pricing {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #previous__price {
    margin: 5px 0;
  }

  #amount__section {
    width: 30%;
    /* margin: 10px auto; */
  }

  #amount__to__cart {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  #add__to__cart {
    width: 60%;
    max-width: 275px;
    height: 60px;
  }
  #add__to__cart:hover {
    box-shadow: 0px 28px 28px -20px rgba(255, 121, 26, 1);
  }

  #add__to__cart::before {
    transform: translate(-50%, -50%);
    margin: 0px 20px;
    content: url("./images/icon-cart-button.svg");
    color: white;
    width: 10px;
    height: 10px;
  }

  #cart__modal {
    z-index: 200;
    position: absolute;
    transform: translate(-50%, 0%);
    /* outline: 2px solid purple; */
    top: 10%;
    left: 80%;
    width: 375px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  }

  #side__drawer {
    display: none;
  }

  #slider__modal__background {
    z-index: 1000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 0;
    position: absolute;
    transform: translate(-50%, 0%);
    display: none;
    /* change to none when testing are finished */
  }
} ;
