@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100%;
}

#container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

#hamburger__menu,
#logo,
#cart,
#avatar {
  padding: 10px;
  position: relative;
}

#nav__bar {
  position: relative;
  padding: 30px 10px 35px 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  outline: 2px solid black;
}

#logo {
  margin-right: auto;
}

#cartContainer {
  position: relative;
}

#cart__amount {
  background: hsl(26, 100%, 55%);
  color: white;
  position: absolute;
  right: 0%;
  top: 0;
  width: 20px;
  height: 15px;
  border-radius: 7.5px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
}

#avatar {
  height: inherit;
}

#menu {
  display: none;
}

#cart__modal {
  z-index: 200;
  position: absolute;
  transform: translate(-50%, 0%);
  /* outline: 2px solid purple; */
  top: 10%;
  left: 50%;
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

#title__modal {
  margin: 20px;
  font-size: 16px;
}

hr {
  opacity: 0.5;
}

#shopping__area {
  margin: 10px;
}

#cart__content__empty {
  margin: 10px 0;
  width: 100%;
  height: 150px;
}

#cart__content__empty__info {
  text-align: center;
  line-height: 150px;
  height: 150px;
  color: hsl(219, 9%, 45%);
}

#cart__content {
  margin: 10px 0;
  color: hsl(219, 9%, 45%);
  padding: 5px 10px 0px 10px;
  width: fit-content;
  height: 150px;
  display: grid;
  grid-template-columns: 15% 5% 60% 5% 15%;
  grid-template-rows: 18% 22% 14% 35%;
  grid-template-areas:
    "thumbnail__photo . content__name . delete__icon"
    "thumbnail__photo . content__price . delete__icon"
    ". . . . ."
    "content__checkout content__checkout content__checkout content__checkout content__checkout";
}

#thumbnail__photo {
  border-radius: 5px;
  grid-area: thumbnail__photo;
  width: 100%;
}
#content__name {
  grid-area: content__name;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
#content__price {
  grid-area: content__price;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
}
#delete__icon {
  grid-area: delete__icon;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content__checkout {
  height: inherit;
  grid-area: content__checkout;
  position: relative;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

#slider__container {
  position: relative;
  width: 100%;
}

#slider {
  transition: 0.3s;
  position: relative;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
}

.change__photo__wrapper {
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change__photo__wrapper.left {
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  left: 5%;
  background: white;
}

.change__photo__wrapper.right {
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  right: 5%;
  background: white;
}

.change__photo {
  background: white;
  width: 15px;
  height: 15px;
}

#slider .product__photo {
  width: inherit;
}

#info {
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

#sneaker__company {
  font-size: 12px;
  letter-spacing: 1px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  margin-bottom: 10px;
}

#sneaker__title {
  width: 80%;
  font-size: 24px;
  font-weight: 700;
}

#sneaker__description {
  margin: 10px 0;
  color: grey;
  font-size: 14px;
}

#pricing {
  display: flex;
  align-items: center;
}

#discount__percent {
  padding: 5px;
  font-size: 14px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
  margin-left: 20px;
  margin-right: auto;
}

#previous__price {
  color: lightgrey;
  text-decoration: line-through;
}

#amount__section {
  margin: 10px 0;
  display: flex;
  height: 60px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}

#add__to__cart {
  position: relative;
  border-radius: 10px;
  padding: 15px 0;
  color: white;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  box-shadow: 0px 28px 28px -20px rgba(255, 121, 26, 1);
}

#add__to__cart::before {
  transform: translate(-50%, -50%);
  margin: 0px 20px;
  content: url("./images/icon-cart-button.svg");
  color: white;
  width: 10px;
  height: 10px;
}
